nodered/flows.json
[
    {
        "id": "b8f36cbcfc882e5f",
        "type": "tab",
        "label": "Still control panel",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "10eeb3c284038678",
        "type": "mqtt in",
        "z": "b8f36cbcfc882e5f",
        "name": "",
        "topic": "tele/stillerator/temp",
        "qos": "2",
        "datatype": "json",
        "broker": "3fe3ac59af05955a",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 130,
        "y": 60,
        "wires": [
            [
                "2b37b4a756b25825",
                "54b57d73fd8f4b2a"
            ]
        ]
    },
    {
        "id": "a6afe5491a2f9de9",
        "type": "ui_gauge",
        "z": "b8f36cbcfc882e5f",
        "name": "",
        "group": "91310e020552789f",
        "order": 3,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Boiler Temp",
        "label": "units",
        "format": "{{msg.payload.temp | number: 2}}",
        "min": "15",
        "max": "100",
        "colors": [
            "#a3e3ff",
            "#00e650",
            "#ca3838"
        ],
        "seg1": "78",
        "seg2": "98",
        "className": "",
        "x": 370,
        "y": 200,
        "wires": []
    },
    {
        "id": "3f900e7c02938a0f",
        "type": "mqtt out",
        "z": "b8f36cbcfc882e5f",
        "name": "",
        "topic": "cmnd/stillerator/pump",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "3fe3ac59af05955a",
        "x": 800,
        "y": 320,
        "wires": []
    },
    {
        "id": "542c98df8fc16813",
        "type": "ui_gauge",
        "z": "b8f36cbcfc882e5f",
        "name": "",
        "group": "7a9b58c9ef792628",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Vapour Temp",
        "label": "units",
        "format": "{{msg.payload.temp | number: 2}}",
        "min": "15",
        "max": "100",
        "colors": [
            "#7be6f9",
            "#00e608",
            "#ca3838"
        ],
        "seg1": "78",
        "seg2": "80",
        "className": "",
        "x": 390,
        "y": 60,
        "wires": []
    },
    {
        "id": "2b37b4a756b25825",
        "type": "switch",
        "z": "b8f36cbcfc882e5f",
        "name": "",
        "property": "payload.sensor",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "0",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "1",
                "vt": "num"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "x": 190,
        "y": 120,
        "wires": [
            [
                "542c98df8fc16813",
                "f6e35ce0fd91d566"
            ],
            [
                "a6afe5491a2f9de9",
                "bd97a192c4f11a04"
            ]
        ]
    },
    {
        "id": "73016bd1712174b0",
        "type": "template",
        "z": "b8f36cbcfc882e5f",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "{\"number\": 0, \"speed\": {{payload}}}",
        "output": "str",
        "x": 620,
        "y": 300,
        "wires": [
            [
                "3f900e7c02938a0f"
            ]
        ]
    },
    {
        "id": "0b1725c41c1af97f",
        "type": "ui_slider",
        "z": "b8f36cbcfc882e5f",
        "name": "",
        "label": "Pump 1",
        "tooltip": "",
        "group": "c737edd6514f230e",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "outs": "end",
        "topic": "value",
        "topicType": "msg",
        "min": "0",
        "max": "100",
        "step": 1,
        "className": "",
        "x": 480,
        "y": 360,
        "wires": [
            [
                "3c8a3ec7f081b870"
            ]
        ]
    },
    {
        "id": "3c8a3ec7f081b870",
        "type": "template",
        "z": "b8f36cbcfc882e5f",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "{\"number\": 1, \"speed\": {{payload}}}",
        "output": "str",
        "x": 620,
        "y": 360,
        "wires": [
            [
                "3f900e7c02938a0f"
            ]
        ]
    },
    {
        "id": "ec64163a33c4f3a3",
        "type": "mqtt in",
        "z": "b8f36cbcfc882e5f",
        "name": "",
        "topic": "tele/stillerator/pump",
        "qos": "2",
        "datatype": "json",
        "broker": "3fe3ac59af05955a",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 130,
        "y": 240,
        "wires": [
            [
                "36a399173a67f368",
                "aca58d866430a9ee"
            ]
        ]
    },
    {
        "id": "36a399173a67f368",
        "type": "switch",
        "z": "b8f36cbcfc882e5f",
        "name": "",
        "property": "payload.number",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "0",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "1",
                "vt": "num"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "x": 150,
        "y": 320,
        "wires": [
            [
                "1f3de1923c9a871f"
            ],
            [
                "71ca4aebb196916a"
            ]
        ]
    },
    {
        "id": "1f3de1923c9a871f",
        "type": "change",
        "z": "b8f36cbcfc882e5f",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.speed",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 320,
        "y": 300,
        "wires": [
            [
                "0c2db1d98c2c9fac"
            ]
        ]
    },
    {
        "id": "71ca4aebb196916a",
        "type": "change",
        "z": "b8f36cbcfc882e5f",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.speed",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 320,
        "y": 360,
        "wires": [
            [
                "0b1725c41c1af97f"
            ]
        ]
    },
    {
        "id": "0c2db1d98c2c9fac",
        "type": "ui_slider",
        "z": "b8f36cbcfc882e5f",
        "name": "",
        "label": "Pump 0",
        "tooltip": "",
        "group": "c737edd6514f230e",
        "order": 6,
        "width": 0,
        "height": 0,
        "passthru": false,
        "outs": "end",
        "topic": "value",
        "topicType": "msg",
        "min": "0",
        "max": "100",
        "step": 1,
        "className": "",
        "x": 480,
        "y": 300,
        "wires": [
            [
                "73016bd1712174b0"
            ]
        ]
    },
    {
        "id": "72c4564d80edb9f3",
        "type": "ui_chart",
        "z": "b8f36cbcfc882e5f",
        "name": "",
        "group": "7a9b58c9ef792628",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "Vapor",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "5",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 710,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "f6e35ce0fd91d566",
        "type": "change",
        "z": "b8f36cbcfc882e5f",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.temp",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "timestamp",
                "pt": "msg",
                "to": "payload.timestamp",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 520,
        "y": 100,
        "wires": [
            [
                "72c4564d80edb9f3"
            ]
        ]
    },
    {
        "id": "bd97a192c4f11a04",
        "type": "change",
        "z": "b8f36cbcfc882e5f",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.temp",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "timestamp",
                "pt": "msg",
                "to": "payload.timestamp",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 520,
        "y": 140,
        "wires": [
            [
                "261a68a829986663"
            ]
        ]
    },
    {
        "id": "261a68a829986663",
        "type": "ui_chart",
        "z": "b8f36cbcfc882e5f",
        "name": "",
        "group": "91310e020552789f",
        "order": 4,
        "width": 0,
        "height": 0,
        "label": "Boiler",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "5",
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 710,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "f545442ff907cd74",
        "type": "mqtt out",
        "z": "b8f36cbcfc882e5f",
        "name": "",
        "topic": "cmnd/stillerator/pid",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "3fe3ac59af05955a",
        "x": 830,
        "y": 460,
        "wires": []
    },
    {
        "id": "56ead4bb5b725d1e",
        "type": "ui_switch",
        "z": "b8f36cbcfc882e5f",
        "name": "",
        "label": "PID Control",
        "tooltip": "",
        "group": "970250e80e48a860",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "{\"run\":true}",
        "onvalueType": "json",
        "onicon": "",
        "oncolor": "",
        "offvalue": "{\"run\": false}",
        "offvalueType": "json",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 610,
        "y": 460,
        "wires": [
            [
                "f545442ff907cd74"
            ]
        ]
    },
    {
        "id": "3ea17b5b6d7d4ed6",
        "type": "mqtt out",
        "z": "b8f36cbcfc882e5f",
        "name": "",
        "topic": "cmnd/stillerator/pid",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "3fe3ac59af05955a",
        "x": 910,
        "y": 600,
        "wires": []
    },
    {
        "id": "74c313d128ef9ff1",
        "type": "template",
        "z": "b8f36cbcfc882e5f",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "{\"number\": 0, \"setpoint\": {{payload}}}",
        "output": "str",
        "x": 720,
        "y": 600,
        "wires": [
            [
                "3ea17b5b6d7d4ed6"
            ]
        ]
    },
    {
        "id": "b04fdb5455ab3294",
        "type": "ui_text_input",
        "z": "b8f36cbcfc882e5f",
        "name": "",
        "label": "Setpoint",
        "tooltip": "",
        "group": "970250e80e48a860",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "mode": "number",
        "delay": "500",
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 560,
        "y": 600,
        "wires": [
            [
                "74c313d128ef9ff1"
            ]
        ]
    },
    {
        "id": "1be8953114fac109",
        "type": "mqtt in",
        "z": "b8f36cbcfc882e5f",
        "name": "",
        "topic": "tele/stillerator/init",
        "qos": "2",
        "datatype": "json",
        "broker": "3fe3ac59af05955a",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 140,
        "y": 460,
        "wires": [
            [
                "e356069bd85fb348",
                "7b8a0ccfc13060ba",
                "9bad7a044b9b79db",
                "7f66b1f41a5d4347"
            ]
        ]
    },
    {
        "id": "e356069bd85fb348",
        "type": "change",
        "z": "b8f36cbcfc882e5f",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.setpoint",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 360,
        "y": 600,
        "wires": [
            [
                "b04fdb5455ab3294"
            ]
        ]
    },
    {
        "id": "60606189c5ed9f0f",
        "type": "ui_gauge",
        "z": "b8f36cbcfc882e5f",
        "name": "",
        "group": "970250e80e48a860",
        "order": 4,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Motor Power",
        "label": "units",
        "format": "{{msg.payload.output | number: 2}}",
        "min": "0",
        "max": "100",
        "colors": [
            "#a3e3ff",
            "#00e650",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 490,
        "y": 900,
        "wires": []
    },
    {
        "id": "28514efc659af0e4",
        "type": "mqtt in",
        "z": "b8f36cbcfc882e5f",
        "name": "",
        "topic": "tele/stillerator/pid",
        "qos": "2",
        "datatype": "json",
        "broker": "3fe3ac59af05955a",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 200,
        "y": 920,
        "wires": [
            [
                "60606189c5ed9f0f",
                "926521a747f336c1"
            ]
        ]
    },
    {
        "id": "ba2a7b85c2198aea",
        "type": "ui_chart",
        "z": "b8f36cbcfc882e5f",
        "name": "",
        "group": "970250e80e48a860",
        "order": 5,
        "width": 0,
        "height": 0,
        "label": "Motor",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "5",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 670,
        "y": 960,
        "wires": [
            []
        ]
    },
    {
        "id": "926521a747f336c1",
        "type": "change",
        "z": "b8f36cbcfc882e5f",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.output",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "timestamp",
                "pt": "msg",
                "to": "payload.timestamp",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 460,
        "y": 960,
        "wires": [
            [
                "ba2a7b85c2198aea"
            ]
        ]
    },
    {
        "id": "7b8a0ccfc13060ba",
        "type": "template",
        "z": "b8f36cbcfc882e5f",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "{\"run\": {{payload.run}} }",
        "output": "json",
        "x": 360,
        "y": 460,
        "wires": [
            [
                "56ead4bb5b725d1e"
            ]
        ]
    },
    {
        "id": "30c4b8c407d0fa61",
        "type": "debug",
        "z": "b8f36cbcfc882e5f",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 890,
        "y": 820,
        "wires": []
    },
    {
        "id": "456e9c37f367e83f",
        "type": "ui_text_input",
        "z": "b8f36cbcfc882e5f",
        "name": "",
        "label": "Kp",
        "tooltip": "",
        "group": "56911c8fe8460082",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "mode": "number",
        "delay": "0",
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 610,
        "y": 1060,
        "wires": [
            [
                "fa1c8481f905ce28"
            ]
        ]
    },
    {
        "id": "f3bf119fd4b392ef",
        "type": "ui_text_input",
        "z": "b8f36cbcfc882e5f",
        "name": "",
        "label": "Ki",
        "tooltip": "",
        "group": "56911c8fe8460082",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "mode": "number",
        "delay": "0",
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 610,
        "y": 1100,
        "wires": [
            [
                "9114dafa7a1b525a"
            ]
        ]
    },
    {
        "id": "5a157136c1247fbd",
        "type": "ui_text_input",
        "z": "b8f36cbcfc882e5f",
        "name": "",
        "label": "Kd",
        "tooltip": "",
        "group": "56911c8fe8460082",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "mode": "number",
        "delay": "0",
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 610,
        "y": 1140,
        "wires": [
            [
                "125347b867c1cf0c"
            ]
        ]
    },
    {
        "id": "5830b2b537c6228d",
        "type": "mqtt in",
        "z": "b8f36cbcfc882e5f",
        "name": "",
        "topic": "tele/stillerator/pid",
        "qos": "2",
        "datatype": "json",
        "broker": "3fe3ac59af05955a",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 140,
        "y": 1080,
        "wires": [
            [
                "fc250b51b10f5e9d",
                "c5ea06da578c1ae6",
                "e19e074f5c6831cb"
            ]
        ]
    },
    {
        "id": "fc250b51b10f5e9d",
        "type": "change",
        "z": "b8f36cbcfc882e5f",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.kp",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 380,
        "y": 1060,
        "wires": [
            [
                "456e9c37f367e83f"
            ]
        ]
    },
    {
        "id": "c5ea06da578c1ae6",
        "type": "change",
        "z": "b8f36cbcfc882e5f",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.ki",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 380,
        "y": 1100,
        "wires": [
            [
                "f3bf119fd4b392ef"
            ]
        ]
    },
    {
        "id": "e19e074f5c6831cb",
        "type": "change",
        "z": "b8f36cbcfc882e5f",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.kd",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 380,
        "y": 1140,
        "wires": [
            [
                "5a157136c1247fbd"
            ]
        ]
    },
    {
        "id": "ad62f3cde6a5f92e",
        "type": "mqtt out",
        "z": "b8f36cbcfc882e5f",
        "name": "",
        "topic": "cmnd/stillerator/pid",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "3fe3ac59af05955a",
        "x": 1010,
        "y": 1100,
        "wires": []
    },
    {
        "id": "fa1c8481f905ce28",
        "type": "template",
        "z": "b8f36cbcfc882e5f",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "{\"kp\": {{payload}}}",
        "output": "str",
        "x": 780,
        "y": 1060,
        "wires": [
            [
                "ad62f3cde6a5f92e"
            ]
        ]
    },
    {
        "id": "9114dafa7a1b525a",
        "type": "template",
        "z": "b8f36cbcfc882e5f",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "{\"ki\": {{payload}}}",
        "output": "str",
        "x": 780,
        "y": 1100,
        "wires": [
            [
                "ad62f3cde6a5f92e"
            ]
        ]
    },
    {
        "id": "125347b867c1cf0c",
        "type": "template",
        "z": "b8f36cbcfc882e5f",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "{\"kd\": {{payload}}}",
        "output": "str",
        "x": 780,
        "y": 1140,
        "wires": [
            [
                "ad62f3cde6a5f92e"
            ]
        ]
    },
    {
        "id": "aca58d866430a9ee",
        "type": "influxdb out",
        "z": "b8f36cbcfc882e5f",
        "influxdb": "15f374e813f2ae03",
        "name": "",
        "measurement": "pumps",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "organisation",
        "bucket": "bucket",
        "x": 860,
        "y": 240,
        "wires": []
    },
    {
        "id": "54b57d73fd8f4b2a",
        "type": "influxdb out",
        "z": "b8f36cbcfc882e5f",
        "influxdb": "15f374e813f2ae03",
        "name": "Temps",
        "measurement": "temperatures",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "organisation",
        "bucket": "bucket",
        "x": 490,
        "y": 20,
        "wires": []
    },
    {
        "id": "d1c311fb9d157a20",
        "type": "ui_text_input",
        "z": "b8f36cbcfc882e5f",
        "name": "",
        "label": "Sensor",
        "tooltip": "",
        "group": "95ef93fe35da6872",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "mode": "number",
        "delay": "100",
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 400,
        "y": 700,
        "wires": [
            [
                "b032de16d8221d10"
            ]
        ]
    },
    {
        "id": "f602a441981bead5",
        "type": "ui_text_input",
        "z": "b8f36cbcfc882e5f",
        "name": "",
        "label": "Servo",
        "tooltip": "",
        "group": "95ef93fe35da6872",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "mode": "number",
        "delay": "100",
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 390,
        "y": 760,
        "wires": [
            [
                "f677374a31990bfa"
            ]
        ]
    },
    {
        "id": "b032de16d8221d10",
        "type": "template",
        "z": "b8f36cbcfc882e5f",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": " {\"sensor\": {{payload}}}",
        "output": "json",
        "x": 540,
        "y": 700,
        "wires": [
            [
                "484a9b60bb7345d9"
            ]
        ]
    },
    {
        "id": "f677374a31990bfa",
        "type": "template",
        "z": "b8f36cbcfc882e5f",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "{\"servo\": {{payload}}}",
        "output": "json",
        "x": 540,
        "y": 760,
        "wires": [
            [
                "484a9b60bb7345d9"
            ]
        ]
    },
    {
        "id": "f3b9d023aaf6933e",
        "type": "mqtt out",
        "z": "b8f36cbcfc882e5f",
        "name": "",
        "topic": "cmnd/stillerator/pid",
        "qos": "",
        "retain": "true",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "3fe3ac59af05955a",
        "x": 1170,
        "y": 720,
        "wires": []
    },
    {
        "id": "484a9b60bb7345d9",
        "type": "join",
        "z": "b8f36cbcfc882e5f",
        "name": "",
        "mode": "custom",
        "build": "merged",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": true,
        "timeout": "",
        "count": "2",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "num",
        "reduceFixup": "",
        "x": 750,
        "y": 720,
        "wires": [
            [
                "293487542ce504ac",
                "30c4b8c407d0fa61"
            ]
        ]
    },
    {
        "id": "293487542ce504ac",
        "type": "change",
        "z": "b8f36cbcfc882e5f",
        "name": "",
        "rules": [
            {
                "t": "move",
                "p": "payload",
                "pt": "msg",
                "to": "payload.config",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 930,
        "y": 720,
        "wires": [
            [
                "f3b9d023aaf6933e"
            ]
        ]
    },
    {
        "id": "7f66b1f41a5d4347",
        "type": "change",
        "z": "b8f36cbcfc882e5f",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.config.servo",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 220,
        "y": 760,
        "wires": [
            [
                "f602a441981bead5"
            ]
        ]
    },
    {
        "id": "9bad7a044b9b79db",
        "type": "change",
        "z": "b8f36cbcfc882e5f",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.config.sensor",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 220,
        "y": 700,
        "wires": [
            [
                "d1c311fb9d157a20"
            ]
        ]
    },
    {
        "id": "3fe3ac59af05955a",
        "type": "mqtt-broker",
        "name": "MQTT2",
        "broker": "mqtt2.mianos.com",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "91310e020552789f",
        "type": "ui_group",
        "name": "Boiler",
        "tab": "001411fd73c52e81",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "7a9b58c9ef792628",
        "type": "ui_group",
        "name": "Vapour",
        "tab": "001411fd73c52e81",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "c737edd6514f230e",
        "type": "ui_group",
        "name": "Manual Pump Control",
        "tab": "001411fd73c52e81",
        "order": 3,
        "disp": true,
        "width": "8",
        "collapse": false,
        "className": ""
    },
    {
        "id": "970250e80e48a860",
        "type": "ui_group",
        "name": "PID Control",
        "tab": "001411fd73c52e81",
        "order": 4,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "56911c8fe8460082",
        "type": "ui_group",
        "name": "Tune",
        "tab": "52fb9cfb263e5bfa",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "15f374e813f2ae03",
        "type": "influxdb",
        "hostname": "127.0.0.1",
        "port": "8086",
        "protocol": "http",
        "database": "stillerate",
        "name": "Stillerate",
        "usetls": false,
        "tls": "",
        "influxdbVersion": "1.x",
        "url": "http://localhost:8086",
        "rejectUnauthorized": true
    },
    {
        "id": "95ef93fe35da6872",
        "type": "ui_group",
        "name": "Config",
        "tab": "52fb9cfb263e5bfa",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "001411fd73c52e81",
        "type": "ui_tab",
        "name": "Home",
        "icon": "home",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "52fb9cfb263e5bfa",
        "type": "ui_tab",
        "name": "Auto Tune",
        "icon": "settings",
        "order": 2,
        "disabled": false,
        "hidden": false
    }
]